@page "/"
@using Microsoft.AspNetCore.Authorization
@using WebAppIntegrated.Enum
@* @attribute [Authorize(Roles = "admin,staff")] *@

<MudGrid Justify="Justify.SpaceAround" Spacing="3" Style="margin-top: 30px;">
    <!-- Hôm Nay -->
    <MudItem xs="12" sm="6" md="6">
        <MudPaper Class="pa-4" MaxWidth="700px" Elevation="0" Style="background-color: #f0f8ff;">
            <MudGrid>
                @if (_Statistical != null)
                {
                    var ordersInDay = _Statistical.Where(order => order.CreatedOn?.Day == DateTime.Now.Day
                    && order.CreatedOn?.Month == DateTime.Now.Month && order.CreatedOn?.Year == DateTime.Now.Year);
                    <MudItem xs="12">
                        <MudText Typo="Typo.h6" Align="Align.Center">Hôm Nay (@ordersInDay.Count())</MudText>
                        <MudText Typo="Typo.h4" Align="Align.Center">@string.Format("{0:#,##0}", ordersInDay.Where(order => order.OrderStatus == OrderStatus.Completed).Sum(order => order.TotalPrice))</MudText>
                    </MudItem>
                    <MudGrid>
                        <MudItem xs="4">
                            <MudText Typo="Typo.subtitle1" Align="Align.Center">Đơn đang giải quyết:</MudText>
                            <MudText Typo="Typo.h6" Align="Align.Center">@ordersInDay.Count(order => order.OrderStatus != OrderStatus.Completed && order.OrderStatus != OrderStatus.Cancelled)</MudText>
                        </MudItem>
                        <MudItem xs="4">
                            <MudText Typo="Typo.subtitle1" Align="Align.Center">Đơn thành công:</MudText>
                            <MudText Typo="Typo.h6" Align="Align.Center">@ordersInDay.Count(order => order.OrderStatus == OrderStatus.Completed)</MudText>
                        </MudItem>
                        <MudItem xs="2">
                            <MudText Typo="Typo.subtitle1" Align="Align.Center">Đơn huỷ:</MudText>
                            <MudText Typo="Typo.h6" Align="Align.Center">@ordersInDay.Count(order => order.OrderStatus == OrderStatus.Cancelled)</MudText>
                        </MudItem>
                        <MudItem xs="2">
                            <MudText Typo="Typo.subtitle1" Align="Align.Center">Đơn trả:</MudText>
                            <MudText Typo="Typo.h6" Align="Align.Center">0</MudText>
                        </MudItem>
                    </MudGrid>
                }
            </MudGrid>
        </MudPaper>
    </MudItem>

    <!-- Tháng -->
    <MudItem xs="12" sm="6" md="6">
        <MudPaper Class="pa-4" MaxWidth="700px" Elevation="0" Style="background-color: #cce7ff;">
            <MudGrid>
                @if (_Statistical != null)
                {
                    var ordersInMonth = _Statistical.Where(order => order.CreatedOn?.Month == DateTime.Now.Month && order.CreatedOn?.Year == DateTime.Now.Year);
                    <MudItem xs="12">
                        <MudText Typo="Typo.h6" Align="Align.Center">Tháng Nay (@ordersInMonth.Count())</MudText>
                        <MudText Typo="Typo.h4" Align="Align.Center">@string.Format("{0:#,##0}", ordersInMonth.Where(order => order.OrderStatus == OrderStatus.Completed).Sum(order => order.TotalPrice))</MudText>
                    </MudItem>
                    <MudGrid>
                        <MudItem xs="4">
                            <MudText Typo="Typo.subtitle1" Align="Align.Center">Đơn đang giải quyết:</MudText>
                            <MudText Typo="Typo.h6" Align="Align.Center">@ordersInMonth.Count(order => order.OrderStatus != OrderStatus.Completed && order.OrderStatus != OrderStatus.Cancelled)</MudText>
                        </MudItem>
                        <MudItem xs="4">
                            <MudText Typo="Typo.subtitle1" Align="Align.Center">Đơn thành công:</MudText>
                            <MudText Typo="Typo.h6" Align="Align.Center">@ordersInMonth.Count(order => order.OrderStatus == OrderStatus.Completed)</MudText>
                        </MudItem>
                        <MudItem xs="2">
                            <MudText Typo="Typo.subtitle1" Align="Align.Center">Đơn huỷ:</MudText>
                            <MudText Typo="Typo.h6" Align="Align.Center">@ordersInMonth.Count(order => order.OrderStatus == OrderStatus.Cancelled)</MudText>
                        </MudItem>
                        <MudItem xs="2">
                            <MudText Typo="Typo.subtitle1" Align="Align.Center">Đơn trả:</MudText>
                            <MudText Typo="Typo.h6" Align="Align.Center">0</MudText>
                        </MudItem>
                    </MudGrid>
                }
            </MudGrid>
        </MudPaper>
    </MudItem>

    <!-- Năm -->
    <MudItem xs="12" sm="6" md="6">
        <MudPaper Class="pa-4" MaxWidth="700px" Elevation="0" Style="background-color: #b3e0ff ;">
            <MudGrid>
                @if (_Statistical != null)
                {
                    var ordersInYear = _Statistical.Where(order => order.CreatedOn?.Year == DateTime.Now.Year);
                    <MudItem xs="12">
                        <MudText Typo="Typo.h6" Align="Align.Center">Năm Nay (@ordersInYear.Count())</MudText>
                        <MudText Typo="Typo.h4" Align="Align.Center">@string.Format("{0:#,##0}", ordersInYear.Where(order => order.OrderStatus == OrderStatus.Completed).Sum(order => order.TotalPrice))</MudText>
                    </MudItem>
                    <MudGrid>
                        <MudItem xs="4">
                            <MudText Typo="Typo.subtitle1" Align="Align.Center">Đơn đang giải quyết:</MudText>
                            <MudText Typo="Typo.h6" Align="Align.Center">@ordersInYear.Count(order => order.OrderStatus != OrderStatus.Completed && order.OrderStatus != OrderStatus.Cancelled)</MudText>
                        </MudItem>
                        <MudItem xs="4">
                            <MudText Typo="Typo.subtitle1" Align="Align.Center">Đơn thành công:</MudText>
                            <MudText Typo="Typo.h6" Align="Align.Center">@ordersInYear.Count(order => order.OrderStatus == OrderStatus.Completed)</MudText>
                        </MudItem>
                        <MudItem xs="2">
                            <MudText Typo="Typo.subtitle1" Align="Align.Center">Đơn huỷ:</MudText>
                            <MudText Typo="Typo.h6" Align="Align.Center">@ordersInYear.Count(order => order.OrderStatus == OrderStatus.Cancelled)</MudText>
                        </MudItem>
                        <MudItem xs="2">
                            <MudText Typo="Typo.subtitle1" Align="Align.Center">Đơn trả:</MudText>
                            <MudText Typo="Typo.h6" Align="Align.Center">0</MudText>
                        </MudItem>
                    </MudGrid>
                }
            </MudGrid>
        </MudPaper>
    </MudItem>

    <!-- Tất Cả -->
    <MudItem xs="12" sm="6" md="6">
        <MudPaper Class="pa-4" MaxWidth="700px" Elevation="0" Style="background-color: #b0e0e6;">
            <MudGrid>
                @if (_Statistical != null)
                {
                    <MudItem xs="12">
                        <MudText Typo="Typo.h6" Align="Align.Center">Tất Cả (@_Statistical.Count())</MudText>
                        <MudText Typo="Typo.h4" Align="Align.Center">@string.Format("{0:#,##0}", _Statistical.Where(order => order.OrderStatus == OrderStatus.Completed).Sum(order => order.TotalPrice))</MudText>
                    </MudItem>
                    <MudGrid>
                        <MudItem xs="4">
                            <MudText Typo="Typo.subtitle1" Align="Align.Center">Đơn đang giải quyết:</MudText>
                            <MudText Typo="Typo.h6" Align="Align.Center">@_Statistical.Count(order => order.OrderStatus != OrderStatus.Completed && order.OrderStatus != OrderStatus.Cancelled)</MudText>
                        </MudItem>
                        <MudItem xs="4">
                            <MudText Typo="Typo.subtitle1" Align="Align.Center">Đơn thành công:</MudText>
                            <MudText Typo="Typo.h6" Align="Align.Center">@_Statistical.Count(order => order.OrderStatus == OrderStatus.Completed)</MudText>
                        </MudItem>
                        <MudItem xs="2">
                            <MudText Typo="Typo.subtitle1" Align="Align.Center">Đơn huỷ:</MudText>
                            <MudText Typo="Typo.h6" Align="Align.Center">@_Statistical.Count(order => order.OrderStatus == OrderStatus.Cancelled)</MudText>
                        </MudItem>
                        <MudItem xs="2">
                            <MudText Typo="Typo.subtitle1" Align="Align.Center">Đơn trả:</MudText>
                            <MudText Typo="Typo.h6" Align="Align.Center">0</MudText>
                        </MudItem>
                    </MudGrid>
                }
            </MudGrid>
        </MudPaper>
    </MudItem>
</MudGrid>


<MudGrid Style="margin-top:15px">
    <MudItem xs="12">
        <MudText Typo="Typo.h5" Align="Align.Center">Biểu đồ</MudText>
    </MudItem>

    <MudItem xs="12">
        <MudGrid>
            <MudItem xs="6">
                <MudChart ChartType="ChartType.Bar" ChartSeries="@Series" XAxisLabels="@XAxisLabels"
                          YAxisTicks="100" Width="100%" Height="350px"></MudChart>
            </MudItem>
            <MudItem xs="6">
                <MudPaper Class="pa-4">
                    <MudChart ChartType="ChartType.Pie" InputData="@data" InputLabels="@labels" Width="300px" Height="300px" />
                </MudPaper>
            </MudItem>
        </MudGrid>
    </MudItem>
</MudGrid>



<MudGrid Style="margin-top:30px">
    <MudItem xs="12" sm="7" md="7" Class="d-flex justify-center">
        @if (_lstOrderDetail != null)
        {
            <div class="border_box-shadow" style="padding: 20px; width: 100%;">
                <MudText Typo="Typo.h5" Class="text-center" Style="margin-bottom: 30px;">
                    Top sản phẩm bán chạy
                </MudText>
                <MudGrid Style="margin-top:30px" Spacing="3">
                    <MudItem xs="6" sm="4" md="4">
                        <MudTextField T="DateTime?"
                                      Format="s"
                                      Value="_paginationRequest.Begin"
                                      Label="Ngày bắt đầu"
                                      ValueChanged="OnBeginDateChanged"
                                      InputType="InputType.DateTimeLocal"
                                      FullWidth="true" />
                    </MudItem>
                    <MudItem xs="6" sm="4" md="4">
                        <MudTextField T="DateTime?"
                                      Format="s"
                                      Value="_paginationRequest.End"
                                      Label="Ngày Kết Thúc"
                                      ValueChanged="OnEndDateChanged"
                                      InputType="InputType.DateTimeLocal"
                                      FullWidth="true" />
                    </MudItem>
                    <MudItem xs="12" sm="4" md="4">
                        <MudSelect Dense="true"
                                   T="int"
                                   Label="Chọn số top sản phẩm"
                                   Variant="Variant.Outlined"
                                   Value="_paginationRequest.Stock"
                                   ValueChanged="@OnStockChanged"
                                   Immediate="true"
                                   FullWidth="true">
                            <MudSelectItem Value="5">5</MudSelectItem>
                            <MudSelectItem Value="10">10</MudSelectItem>
                            <MudSelectItem Value="15">15</MudSelectItem>
                            <MudSelectItem Value="20">20</MudSelectItem>
                        </MudSelect>
                    </MudItem>
                </MudGrid>

                <MudTable Items="@_lstOrderDetail" Hover="true" Dense="true">
                    <HeaderContent>
                        <MudTh align="center">STT</MudTh>
                        <MudTh align="left">Tên</MudTh>
                        <MudTh align="center">Hình ảnh</MudTh>
                        <MudTh align="right">Số lượng</MudTh>
                    </HeaderContent>

                    <RowTemplate>
                        <MudTd align="center" DataLabel="STT">@(_lstOrderDetail.ToList().IndexOf(context) + 1)</MudTd>
                        <MudTd align="left">
                            <MudText Typo="Typo.body1">@context.ProductName</MudText>
                            <MudText Typo="Typo.caption" Class="text-muted">
                                Màu: @context.ColorName - Size: @context.SizeNumber
                            </MudText>
                        </MudTd>
                        <MudTd align="center">
                            <MudLink Href="/List/ProductDetail" Style="text-decoration:none">
                                <MudImage Src="@($"{_imageUrl}{context.ImagePath}")" Width="60" Height="60" alt="Image" />
                            </MudLink>
                        </MudTd>
                        <MudTd align="right">@context.Quantity</MudTd>
                    </RowTemplate>
                </MudTable>
            </div>
        }
    </MudItem>

    <MudItem xs="12" sm="5" md="5">

        @if (_lstProductDetail != null)
        {
            <div class="border_box-shadow">
                <MudText Typo="Typo.h6" Class="text-center" Style="margin-block: 35px;">
                    Sản phẩm sắp hết hàng
                </MudText>
                <MudTable Items="@_lstProductDetail" Hover="true" Dense="true">
                    <HeaderContent>
                        <MudTh>STT</MudTh>
                        <MudTh>Tên</MudTh>
                        <MudTh>Image</MudTh>
                        <MudTh>Số Lượng</MudTh>

                    </HeaderContent>

                    <RowTemplate>
                        <MudTd DataLabel="STT"> @(_lstProductDetail.ToList().IndexOf(context) + 1)</MudTd>
                        <MudTd align="left">
                            <MudText Typo="Typo.body1">@context.ProductName</MudText>
                            <MudText Typo="Typo.caption" Class="text-muted">
                                Màu: @context.ColorName - Size: @context.SizeNumber
                            </MudText>
                        </MudTd>
                        <MudLink Href="" Style="text-decoration:none">
                            <MudImage Src="@($"{_imageUrl}{context.ImageUrl}")" Width="60" Height="60" alt="Image" />
                        </MudLink>
                        <MudTd>@context.Stock</MudTd>

                    </RowTemplate>
                </MudTable>
            </div>
        }
    </MudItem>

</MudGrid>

